


<div class="rf-container">

 <div class="workout-navbar">
  <h2 class="title">All Workouts</h2>

  <div class="actions">
    <!-- Search -->
    <input
      type="text"
      class="nav-search"
      placeholder="Search workouts..."
  (input)="onSearch($event)"
    />

    <!-- Filter -->
    <select class="nav-select">
      <option value="" disabled selected>Filter</option>
      <option value="strength">Strength</option>
      <option value="cardio">Cardio</option>
      <option value="hiit">HIIT</option>
      <option value="yoga">Yoga</option>
    </select>

    <!-- Sort -->
    <select class="nav-select">
      <option value="" disabled selected>Sort</option>
      <option value="newest">Newest</option>
      <option value="oldest">Oldest</option>
      <option value="duration">Duration</option>
      <option value="difficulty">Difficulty</option>
    </select>
  </div>
</div>


    <div class="exercise-grid">

        <div class="exercise-card" *ngFor="let ex of exercises">

            <!-- IMAGE SLIDER -->
            <div class="image-slider">
                <img [src]="'assets/workout_imgs/'+ex.images[activeImageIndex[ex._id] || 0]" alt="{{ ex.name }}" />

                <button class="nav left" (click)="prevImage(ex._id)">‹</button>
                <button class="nav right" (click)="nextImage(ex._id, ex.images.length)">›</button>
            </div>

            <!-- BODY -->
            <div class="exercise-body">

                <div class="title-row">
                    <h4>{{ ex.name }}</h4>

                    <!-- INFO TOOLTIP -->
                    <div class="info-wrapper">
                        <span class="info-icon">i</span>

                        <div class="tooltip">
                            <strong>Instructions</strong>
                            <ul>
                                <li *ngFor="let step of ex.instructions">
                                    {{ step }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="meta">
                    <span><b>Primary Muscle:</b> {{ ex.primaryMuscles[0] }}</span>
                    <span><b>Equipment:</b> {{ ex.equipment }}</span>
                    <span><b>Force:</b> {{ ex.force }}</span>
                </p>

                <button class="neon-btn full" (click)="addToProgramme(ex)">
                    + Add to My Programme
                </button>

            </div>
        </div>

    </div>
</div>