<div class="bmr-popup-overlay">
  <div class="bmr-popup-card">

    <!-- Close Button -->
    <button class="close-btn" (click)="close()">✕</button>

    <form class="gym-form" [formGroup]="bmrForm" (ngSubmit)="calculateBmr()">
      <h2>BMR Calculator</h2>

      <!-- Name -->
      <input
        type="text"
        formControlName="name"
        placeholder="Full Name"
      />
      <small class="error" *ngIf="f.name.touched && f.name.invalid">
        Name is required
      </small>

      <!-- Gender -->
      <select formControlName="gender">
        <option value="" disabled>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <small class="error" *ngIf="f.gender.touched && f.gender.invalid">
        Gender is required
      </small>

      <!-- Age -->
      <input
        type="number"
        formControlName="age"
        placeholder="Age (years)"
      />
      <small class="error" *ngIf="f.age.touched && f.age.invalid">
        Enter a valid age
      </small>

      <!-- Height -->
      <input
        type="number"
        formControlName="height"
        placeholder="Height (cm)"
      />
      <small class="error" *ngIf="f.height.touched && f.height.invalid">
        Enter valid height
      </small>

      <!-- Weight -->
      <input
        type="number"
        formControlName="weight"
        placeholder="Weight (kg)"
      />
      <small class="error" *ngIf="f.weight.touched && f.weight.invalid">
        Enter valid weight
      </small>

      <button type="submit" [disabled]="bmrForm.invalid">
        Calculate BMR
      </button>
    </form>

  </div>
</div>

<button>yyy</button>